# Add the required .env variable constants for the user to populate here

APP_NAME=You-Quiz
APP_PORT=3001
APP_ADMIN_PASSWORD
APP_DOCKER_BUILD=false

MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_HOSTNAME=
MONGO_PORT=
MONGO_DB=

APP_EMAIL_SMTP=""
APP_EMIAL_PORT=
APP_EMAIL=""
APP_EMAIL_PASSWORD=""

APP_SECRET=""